//common.scss
$font-12:0.75rem;
$font-14:0.875rem;
$font-16:1rem;
$font-18:1.125rem;
$font-20:1.25rem;
$font-24:1.5rem;
$font-30:1.875rem;
$font-36:2.25rem;
$font-80:5rem;
$font-150:9.375rem;

$font-m:500;
$font-sb:600;
$font-b:700;

$orbit:'orbit', sans-serif; //100
$nene:'neue-haas-grotesk-display', sans-serif; //500, 700

$color-gray01:#656565;
$color-gray:#999999;
$color-point:#FF4006;

@mixin check1 {border: 2px solid red;}
@mixin check2 {border: 2px solid green;}
@mixin check3 {border: 2px solid blue;}

@mixin cate {
    font-family: $nene;
    font-weight: $font-m;
    font-size:$font-36 ;
}

@mixin display-op {
    padding: 30px 0;
    height: 100vh;}