@use './common.scss' as *;

body {
    margin:0 30px;
    background-color: #f2f2f2;
    /* height: 100vh; */
}

section {
    @include check1;
}




/* -------------------------공통 */

/* ---- 프로젝트 설명 카드 (왼측 부분) */

.pj_info {
    .pj_info_top {
        .info_type {
            li {}
        }

        .pj_content {}

        .pj_brand_name {}
    }

    .pj_info_bottom {
        p {
            span {}
        }
    }
}



.sub_title {
    display: flex;
    justify-content: space-between;
    p {
        font-family: $orbit;
        font-size:$font-30;
        a, .close_btn  {
            font-family: $orbit;
            font-size:$font-24;}
    }
    
}

.close_btn {}


/* ----------------------- 헤더+메인 */
.main_page_wrap {
    display: grid;
    grid-template-columns: 2fr 8fr;
    gap: 40px;
}




/* ----------------------- 헤더 */
header {
    @include display-op;
    display: flex;
    flex-flow:column nowrap ;
    justify-content: space-between;
    h1 {
        width: 50px; height: 50px;
        margin-bottom: 30px;
        a {
            width: 100%; height: 100%;
            img {
                width: 100%; height: 100%;
            }
        }
    }

    h2 {
        .about_btn,.work_btn{
        @include cate;
        margin-bottom: 20px;
        }
    }
    .work {
        margin-bottom: 20px;
        display: flex;
        flex-flow: column nowrap;
        gap:20px;
        :nth-of-type(2) {
            
            padding:  20px 0 20px 15px;
            border-bottom: 1px solid #212121;
            border-top: 1px solid #212121;
        }
    }
        
    }
    h3 {
        cursor: pointer;
        width: 100%;
        padding-left:15px;
    font-size: $font-24;
    font-family: $orbit;
    }
    h3:hover {
        color:$color-point;
    }

/* ----------------------- 메인 */

.intro_page {
    display: flex;
    flex-flow:column nowrap ;
    justify-content: space-between;
    @include display-op;
    .sub_title {
        
        p {
            

        }
    }

    .title {
        P {
            font-family: $nene;
        }
        P:first-child {
            font-weight:$font-m ;
            font-size:$font-80;
        }
        P:last-child {
            font-weight:$font-m ;
            font-size:$font-150;
        }
    }
}


/* ----------------------- about */

.about_page {
    @include display-op;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    .sub_title {
        p {
            .close {}
        }
    }

    .info {
        display: flex;
        flex-flow: column nowrap;
        gap: 60px;
        p {
            font-family: $orbit;
            font-size: $font-36;
            line-height: 140%;

        }

        span {
            letter-spacing: -1px;
            font-family: $orbit;
            color:$color-gray01;
            line-height: 140%;
            font-size:$font-18;
        }
    }

    .skill {
        li {
            strong {}
        }
    }
}

/* ----------------------- work 카드 wrap 공통 */

.work_page {
    .pj_wrap {
        .pj_info {
            .pj_info_top {
                .info_type {
                    li {}
                }

                .pj_content {}

                .pj_brand_name {}
            }

            .pj_info_bottom {
                p {
                    span {}
                }
            }
        }

        .pj_thumbnail {
            img {}
        }
    }
}


/* ----------------------- 프로젝트 전체 공통 */

.pj_whole {
    .pj_info {
        .pj_info_top {
            .row1 {
                .close {}
            }

            a {
                /* 프로토타입 있는 경우 */
            }
        }
    }
}