@use './common.scss' as *;

body {

    background-color: #f2f2f2;
    height: 100vh;
}

section {}




/* -------------------------공통 */

/* ---- 프로젝트 설명 카드 (왼측 부분) */



.pj_info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .pj_info_top {
        font-size: $font-14;
        display: flex;
        flex-flow: column nowrap;
        gap: 90px;

        .info_type {
            margin-bottom: 15px;
            display: flex;
            gap: 10px;
            font-family: $nene;

            li {
                color: $color-gray;
                font-family: $nene;

            }
        }
    }
}

.pj_content {
    line-height: 150%;
}


.sub_title {
    display: flex;
    justify-content: space-between;

    p {
        font-family: $orbit;
        font-size: $font-30;

        a,
        .close_btn {
            font-family: $orbit;
            font-size: $font-24;
        }
    }

}

.pj_brand_name {
    cursor: pointer;
    font-family: $archivo;
    font-size: $font-18;
    font-weight: $font-m;
}
.row1 .pj_brand_name:hover {
    color:#999;
}

.close_btn {}


/* ----------------------- 헤더+메인 */
.main_page_wrap {
    padding: 0 30px;
}




/* ----------------------- 헤더 */
header {
    position: fixed;
    padding: 30px 0 90px 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin-right: 40px;
    width: 20%;

    h1 {
        width: 50px;
        height: 50px;
        margin-bottom: 30px;

        a {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .header_btn {
        display: flex;
        flex-flow: column nowrap;
        gap:30px;
        h2 {
            .about_btn,
            .work_btn,
            a {
                text-align: left;
                display: block;
                @include cate;
                margin-bottom: 0px;
                font-size: $font-30;
                font-family:$nene ;
                padding-bottom: 15px;
                border-bottom:1px solid #656565 ;
                width: 100%;
            }
        }
        .about_btn:hover,
            .work_btn:hover,
            a:hover {
                color: $color-point;
            }
    }
    

    .work {
        position: relative;
        margin-bottom: 50px;
        display: flex;
        flex-flow: column nowrap;
        gap: 20px;

        h3 {
            width: 100%;
        }

        h3:nth-of-type(2) {
            padding: 20px 0 20px 15px;
            border-bottom: 1px solid #212121;
            border-top: 1px solid #212121;
        }

        .hover_img {

            img {
                width: 100%;
                height: 100%;
            }

            position: absolute;
            width: 100%;
            z-index: 999;
        }

        .hvr_meal {

            display: none;
            width: 150px !important;
            height: 150px;
            top: 10%;
            left: 110%;
            background-color: aqua;
        }

        .hvr_dgb {
            display: none;
            width: 160px !important;
            height: 160px;
            top: 20%;
            left: 110%;
            background-color: yellowgreen;
        }

        .hvr_spyder {
            display: none;
            width: 160px !important;
            height: 160px;
            top: 30%;
            left: 110%;
            background-color: violet;
        }

        h3:nth-of-type(1):hover~.hvr_meal {
            display: block;
        }

        h3:nth-of-type(2):hover~.hvr_dgb {
            display: block;
        }

        h3:nth-of-type(3):hover~.hvr_spyder {
            display: block;
        }
    }

}


header.active {
    display: none;
}

h3 {
    cursor: pointer;
    width: 100%;
    padding-left: 15px;
    font-size: $font-24;
    font-family: $orbit;
}






/* ----------------------- 메인 */



main {
    margin-left: 22%;
    position: absolute;
    width: 76%;
    padding-right: 20px;
}


.intro_page {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    @include display-op;
    height: 100vh;

    .sub_title {

        p {}
    }

    .title_wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

    }

    .title {

        width: max-content;

        P {
            font-family: $nene;
        }

        P:first-child {
            width: max-content;
            font-weight: $font-m ;
            font-size: $font-80;
        }

        P:last-child {
            font-weight: $font-m ;
            font-size: $font-150;
        }
    }
}

.intro_page.active {
    display: none;
}

/* ----------------------- about */

.about_page {
    @include display-op;

    display: flex;
    flex-flow: column nowrap;
    gap: 120px;

    .sub_title {
        p {
            .close {}
        }
    }

    .info {
        display: flex;
        flex-flow: column nowrap;
        gap: 60px;

        p {
            font-family: $orbit;
            font-size: $font-36;
            line-height: 140%;

        }

        span {
            letter-spacing: -1.3px;
            font-family: $orbit;
            color: $color-gray01;
            line-height: 180%;
            font-size: $font-18;
        }
    }

    .skill_wrap_wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;

        .skill_wrap {
            padding-right: 80px;
            margin-top: 80px;
            width: max-content;
            float: right;
            display: flex;
            gap: 60px;

            .sw {
                .skill_title {
                    letter-spacing: 0px;
                    font-family: $archivo;
                    font-size: $font-16;
                    color: #212121;
                }

                .skill_content {
                    letter-spacing: 0px;
                    font-family: $archivo;
                    font-size: $font-16;
                    color: #212121;
                }
            }

            .sw1 {}

            .sw2 {}

            .sw3 {}
        }
    }

}

.about_page.active {
    display: none;
}

/* ----------------------- work 카드 wrap 공통 */

.work_page .pj_wrap:nth-child(2) {
    border-bottom: 1px solid #767676;
    border-top: 1px solid #767676;
    padding: 25px 0;
}

.work_page {
    .pj_info {
        display: flex;
        flex-flow: column nowrap;
        gap: 200px;

        .pj_info_top {
            font-size: $font-14;
            display: flex;
            flex-flow: column nowrap;
            gap: 25px;

            .info_type {
                display: flex;
                gap: 10px;
                font-family: $archivo;

                li {
                    color: $color-gray;
                    font-family: $nene;

                }
            }
        }
    }

    .pj_content {
        line-height: 120%;
    }

    display: flex;
    flex-flow: column nowrap;
    /* align-items: center; */
    gap: 25px;
    padding: 30px 0;

    .pj_wrap {
        cursor: pointer;
        display: grid;
        grid-template-columns: 2.5fr 7.5fr;
        width: 100%;

        .tools,
        .tools_app {
            line-height: 150%;
        }

        width: 96%;

        .pj_info {
            display: flex;
            flex-flow: column nowrap;
            gap: 200px;

            .pj_info_top {
                font-size: $font-14;
                display: flex;
                flex-flow: column nowrap;
                gap: 25px;

                .info_type {
                    display: flex;
                    gap: 10px;
                    font-family: $archivo;

                    li {
                        color: $color-gray;
                        font-family: $archivo;
                        font-weight: 400;
                    }
                }

                .pj_content {
                    line-height: 120%;
                }

                .pj_brand_name {
                    font-family: $archivo;
    font-size: $font-18;
    font-weight: $font-m;
                }
            }

            .pj_info_bottom {

                ul {
                    li {
                        font-size: $font-14;
                        display: flex;
                        margin-bottom: 20px;

                        p {
                            width: 120px;
                            color: $color-gray01;

                            span {}
                        }
                    }
                }

            }



        }

        .pj_thumbnail {
            display: flex;
            gap: 20px;

            .thumbnain_img {

                width: 90%;
                height: auto;
                /* background-color: aqua; */
            }

            img {width: 100%;}
        }
    }

}

.work_page.active {
    display: none;
}

/* ----------------------- 프로젝트 전체 공통 */

.pj_whole.active {
    display: none;
}


.pj_whole {
    .row1 {
        z-index: 999;
        position: fixed;
        background-color: #f2f2f2;
        padding-top: 10px;
        padding-bottom: 5px;
        width: 15%;
        justify-content: space-between;
        display: flex;
        align-items: center;

        h1 {
            margin-left: 20px;
            width: 35px;
            height: 35px;

            a {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .pj_brand_name {
            font-family:$archivo;
            font-size: $font-16;
        }
        
        p {
            .close_btn {

                margin-right: 20px;
                transform: rotate(180deg);
                transition: transform 0.2s ease;
                svg {
                }
            }
            .close_btn.active {
        transform: rotate(0deg);
    }
    .close_btn:hover {
        background-color:#e8e8e8;
    }
        }
    }
    
    display: flex;
    height: 100vh;
    width: 100%;

    .pj_info {
        padding: 30px 0 120px 20px !important;
        position: fixed;
        top: 45px;
        height: 100vh;
        width: 15%;
        @include display-op;
        transform: translateX(0);
        transition: transform 0.2s ease;

        .pj_info_top {


            .row2 {
                background-color: darkgreen;
            }

            .link_pro {
                display: flex;
                gap: 3px;
                /* border-bottom: 1px solid #999; */
                width: max-content;
                color: #212121;
            }
            .link_pro:hover {
                svg {
                    path {
                        stroke:$color-point;
                    }
                    
                }
                color: $color-point;
            }
            .site_list {
                display: flex;
                flex-flow: column nowrap;
                gap: 15px;
            }
        }

        .pj_info_bottom {
            ul {
                li {
                    font-size: $font-14;
                    display: flex;
                    margin-bottom: 20px;

                    p {
                        width: 90px;
                        color: $color-gray01;
                    }

                }
            }

            .tools,
            .tools_app {
                line-height: 150%;
            }
        }
    }

    .pj_info.active {
        transform: translateX(-400px);
    }
}

.pj_whole_img {
    transition: all 0.2s ease;
    margin-left: 15%;
    height: 5000px;

    background-color: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    width: 100%;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.pj_whole_img.active {
    margin-left: 0;
}

.dgb_whole {
    .pj_whole_img {
        .project_index:last-child {
            position: relative;
            .cafe24now {
                span {
                    color: #fff;;
                    margin-right: 5px;
                }
                font-size: $font-14;
                color: #fff;;
                position: absolute;
                bottom:100px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.spyder_whole {
    .pj_whole_img {
        .project_index:last-child {
            position: relative;
            .cafe24now {
                span {
                    color: #fff;;
                    margin-right: 5px;
                }
                font-size: $font-14;
                color: #fff;;
                position: absolute;
                bottom:200px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}